html {
	background-image: url("https://image.freepik.com/free-vector/unicorn-seamless-pattern-background-vector_53876-61449.jpg");

}



body {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	background-color: #FFF;
	text-align: center;
}

a {
	color: #000;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;

}

a:hover {

	color: #FFAEBC;
	font-size: 13px;
	text-transform: lowercase;
	letter-spacing: 3px;
}

section {

	padding: 0px 100px 0px 100px;
}


.headers {
	font-size: 32px;
	color: #000;
	font-family: 'Shadows Into Light', cursive;
}

.small-header {
	font-size: 24px;
	color: #977EF2;
	font-family: 'Josefin Sans', sans-serif;
}

.font {
	font-size: 16px;
	font-family: 'Quicksand', bold;
	color: #4D5656
}

.links {
	font-family: 'Quicksand', bold;
	color: #FFAEBC;
	font-size: 20px;
}

footer {

	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
	color: ##4D5656;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #FFF;
	text-align: center;
}
